<header class="row">
    <h1 class="center">
        <a href="/">
        </a>
    </h1>


    <nav>
       <ul>
            <li> <%= link_to "Zentrale", root_path, class: "col-3 col-m-6" %></li>
            <li> <%= link_to "Gruppen", groups_path, class: "col-3 col-m-6" %></li>
            <li> <%= link_to "Events", events_path, class: "col-3 col-m-6" %></li>
            <li> <%= link_to "Posten", targets_path, class: "col-3 col-m-6" %></li>
    
        </ul>
    </nav>
    
</header>